div {
  background-color: rgb(170, 199, 238);
  color: #3e3e3fe8;
}

.div-start {
  background-color: #ffffff;
}
  
.columnList {
    justify-content: space-evenly;
    flex-flow: wrap;
  }
    
.item {
  flex: 0 0 50%;
}
    